@model IEnumerable<BlogMvcApp.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("Search")
@Html.Partial("BlogList", Model)
@*<div class="row">
    <div class="col-md-8">
        @foreach (var blog in Model)
        {
            <div class="blog">
                <h3 class="page-header">
                    @blog.Title
                </h3>
                <p>
                    <span class="glyphicon glyphicon-time"></span>
                    @blog.CreatedDate
                </p>
                <p>
                    @blog.Content
                </p>
                @Html.ActionLink("Details...", "Details", "Blog", new { id = blog.Id }, new { @class = "btn btn-primary" })

            </div>
        }
    </div>*@

@section RightColumn{

    <p>this is rigth column...</p>
    @{Html.RenderAction("CategoryList", "Category");}
}


</div>



